.navbar {
  width: 100%;
  padding: 10px;
  background-color: var(--color-primary);
 position: fixed;
 top: 0;
 left: 0;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 50px; */
  position: relative;
  padding-right: 50px;
}

.logoContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  color: white;
  width: 250px;

}

.logoImage {
  height: 100%;
  /* width: 40px; */
}
.headingTxt{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobileMenuToggle {
  /* display: none; */
  display: flex;
  flex-direction: column;
}

.navLinks {
  display: flex;
  text-decoration: none;
  width: 250px;
  align-items: center;
  justify-content: space-evenly;
  transition: all 1s ease-in-out;
}
.navLinks .anc{
    transition: all 0.3s ease-in-out;
}
.navLinks .anc:hover {
  font-size: 18px;
  font-weight: 400;
}


.navLinks li a {
  color: white;
  text-decoration: none;

}

.mobileMenu .mobileList li a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 640px) {
  .navbar{
    padding: 10px 50px 10px 50px;
  }
  .navContainer .mobileMenuToggle {
    display: none;
  }

  .mobileMenu {
    display: none;


  }
}

@media screen and (max-width:640px) {
 
 .navGet{
    animation: slideFromTop 0.4s ease-out forwards;

 }
 
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
  .navLinks {
    display: none;
  }

  .navContainer {
    padding: 0 20px 0 0;
  }


  .mobileMenu {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primary);
    z-index: 999;
    display: flex;
    /* align-items: center;
    justify-content: space-evenly; */
  }

  .mobileMenu {
    transition: all 0.3s ease-in-out;
  }


  .navContainer {
    display: flex;
  }

  .mobileList {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobileList li {
    margin: 10px 0;
    background-color: rgba(121, 121, 121, .2);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;

  }
  .mobileList li:hover{
    background-color: rgba(121, 121, 121, .4);
    transform: scale(1.1);
  }
 
}