.sectionSubText {
  color: var(--secondary);
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.sectionHeadText {
  color: white;
  font-weight: 900;
  font-size: 30px;
}

@media (min-width: 480px) {
  .sectionHeadText {
    font-size: 40px;
  }
}

@media (min-width: 640px) {
  .sectionHeadText {
    font-size: 50px;
  }
}

@media (min-width: 768px) {
  .sectionHeadText {
    font-size: 60px;
  }
}
